{% extends 'home.html' %}
{% load static %}
{% block title %}
    Tipo Habitacion
{% endblock title %}
{% block headerleft %}
    Tipo Habitacion
{% endblock headerleft %}
{% block headerright %}
    Tipo Habitacion
{% endblock headerright %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Formulario Tipo Habitacion</h3>
                </div>
                <form method="post" id="form-roomtype">
                    {% csrf_token %}
                    <div class="card-body">
                       {{ form.as_p }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar datos</button>
                        <a type="button" class="btn btn-secondary" href="{% url 'rooms:roomtype' %}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'rooms/RoomType.js' %}">

    </script>
{% endblock extrajs %}