{% extends 'home.html' %}
{% load static %}
{% block title %}
    Habitaciones
{% endblock title %}
{% block headerleft %}
    Habitaciones
{% endblock headerleft %}
{% block headerright %}
    Habitaciones
{% endblock headerright %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-1 pl-1">
                    <div class="col-md-12 p-0">
                        {% for g in group_set %}
                            {#                                <li class="page-item">#}
                            {#                                    <a class="page-link" href="#">#}
                            {#                                        <p class="page-month">{{ g.name }}</p>#}
                            {#                                    </a>#}
                            {#                                </li>#}
                            <a class="btn  btn-outline-primary btn-app bungee font-weight-bold border-primary" onclick="ReloadRoom({{ g.id }})">
                                {#                                <span class="badge bg-success">{{ g.name }}</span>#}
                                <i class="fa fa-desktop fa-2x pb-1"></i> {{ g.name }}
                            </a>
                        {% endfor %}
                        {#                            #}
                        {#                                <select class="form-control select2-danger">#}
                        {#                                    {% for g in group_set %}#}
                        {#                                        <option value="{{ g.id }}">{{ g.name }}</option>#}
                        {#                                        {% endfor %}#}
                        {#                                </select>#}
                    </div>
                </div>
                <div class="card-body p-2" id="order-grid">
{#                    {% include "orders/order_grid.html" %}#}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-order" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'orders/Order.js' %}">

    </script>
{% endblock extrajs %}
