{% load static %}
<div class="p-1">
    <div class="btn-group w-100 mb-2">
        <a class="btn bg-gradient-info active" href="javascript:void(0)" data-filter="all">
            Todos </a>
        {% for t in type_set %}
            <a class="btn bg-gradient-info" href="javascript:void(0)"
               data-filter="{{ t.id }}">{{ t.name }}</a>
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle> Mezclar </a>
        <div class="float-right">
            <select class="custom-select" style="width: auto;" data-sortOrder>
                <option value="index"> Ordenar por posicion</option>
                <option value="sortData"> Ordenar por datos personalizados</option>
            </select>
            <div class="btn-group">
                <a class="btn btn-default" href="javascript:void(0)" data-sortAsc> Ascendente </a>
                <a class="btn btn-default" href="javascript:void(0)" data-sortDesc> Descendente </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="filter-container" id="room-list">
        {% for r in room_set %}
            <div class="filtr-item col-sm-2 p-1" data-category="{{ r.type.id }}"
                 data-sort="white sample">
                <a href="{% url 'orders:order_room' r.id %}" class="img-fluid mb-2 w-100">
                    <div class="ribbon-wrapper ribbon-lg m-1">
                        <div class="ribbon bg-gradient-purple">
                            {{ r.type.name }}
                        </div>
                    </div>
                    <div class="card card-button img-fluid"
                         style="background: {{ r.state.get_color }}; height: 200px; color: #FFFFFF" alt="white sample">
                        <div class="card-header text-center border-bottom">
                            {% if r.get_order %}
                                <h5 class="font-weight-bold mb-0">TOTAL S/. {{ r.get_order.total|safe }}</h5>
                            {% else %}
                                <h5 class="font-weight-bold mb-0">Nº {{ r.number }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-body text-center"><h1 class="font-weight-bold">{{ r.number }}</h1></div>
                        <div class="card-footer text-center border-top">
                            <div class="row">
                                <div class="col-md-12 align-self-center text-center"><i class="fa fa-tags fa-1x"></i> 12H: S/. {{ r.noon|safe }}</div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12 align-self-center text-center"><i class="fa fa-tags fa-1x"></i> 24H: S/. {{ r.day|safe }}</div>
                            </div>
                        </div>
                    </div>
                    {#                    <img src="https://via.placeholder.com/300/{{ r.state.color }}//FFFFFF?text={{ r.number }}"#}
                    {#                         class="img-fluid h-100 w-100"#}
                    {#                         alt="white sample"/>#}
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="{% static 'orders/OrderGrid.js' %}"></script>